/*
Theme Name: Pivot Child
Theme URI: 
Description: Pivot WordPress Theme - Child Theme. Only Install if you're actually planning on making code changes to Pivot.
Author: <a href="http://www.madeinebor.com">Tom Rhodes</a>
Author URI: 
Template: pivot
Version: 1.0.0
*/

@import url('../pivot/style.css');

.no-padding {
	padding: 0;
}

body.woocommerce.archive section {
	padding-top: 0;
}

body.woocommerce.archive ul.products li.product,
body.woocommerce.archive ul.products li.product:nth-child(2n) {
	margin: 0;
	float: left;
	clear: none;
}

body.woocommerce.archive .pagination-sm {
	padding-left: 15px;
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	/* tablets and desktop */
	body.woocommerce.archive ul.products li.product,
	body.woocommerce.archive ul.products li.product:nth-child(2n) {
		width: 33.3333%;
	}
}

@media only screen and (max-width: 767px) {
	/* phones */
	body.woocommerce.archive ul.products li.product,
	body.woocommerce.archive ul.products li.product:nth-child(2n) {
		width: 50%;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	/* portrait phones */
	body.woocommerce.archive ul.products li.product,
	body.woocommerce.archive ul.products li.product:nth-child(2n) {
		width: 100%;
	}
}
